
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-2">
    <div class="container">
        <div class="row">
            <div class="hero-content">
                 <h1 class="hero-title">About Us</h1>
                <ul class="count-down"></ul>
                <div class="hero-location">
                    <p><i class="fa fa-map-marker" aria-hidden="true"></i> Londan, UK</p>
                </div>
                <div class="hero-purchase-ticket">
                    <a href="#">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-todays-schedule">
    <div class="container">
        <div class="row">
            <div class="section-header">
                <h2>History</h2>
                <span class="todays-date"><i class="fa fa-calendar" aria-hidden="true"></i> <strong>12</strong> August 2019 </span>
            </div>
            <div class="section-content">
                <ul class="clearfix">
                    <li class="event-1">
                        <span class="event-time">2015 <strong>JAN</strong></span>
                        <strong class="event-name">Startup</strong>
                    </li>
                    <li class="event-2">
                        <span class="event-time">2016 <strong>JAN</strong></span>
                        <strong class="event-name">Startup</strong>
                    </li>
                    <li class="event-3">
                        <span class="event-time">2017 <strong>JAN</strong></span>
                        <strong class="event-name">Startup</strong>
                    </li>
                    <li class="event-4">
                        <span class="event-time">2018 <strong>JAN</strong></span>
                        <strong class="event-name">Startup</strong>
                    </li>
                </ul>
                <strong class="event-list-label">4 Years <span> History</span></strong>
            </div>
        </div>
    </div>
</section>


<section class="section-video-parallax">
    <div class="container">
        <div class="section-content">
            <h2>LIVE THERE</h2>
            <p>Book events from anywhere in 191+ countries and get awesome experience Lorem ipsum dolor sit amet, consectetuer adipiscing elit,</p>
            <a href="#"><img src="~/Content/images/play-btn.png" alt="image"></a>
        </div>
    </div>
</section>

<section class="section-latest">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8">
                <div class="latest-news">
                    <div class="section-header">
                        <h2>Latest News</h2>
                    </div>
                    <div class="section-content">
                        <ul class="clearfix">
                            <li class="row news-item">
                                <div class="col-sm-5 news-item-img">
                                    <div class="date">
                                        <a href="#">
                                            <span class="day">25</span>
                                            <span class="month">August</span>
                                            <span class="year">2016</span>
                                        </a>
                                    </div>
                                    <a href="#"><img src="~/Content/images/latest-news-1.jpg" alt="image"></a>
                                </div>
                                <div class="col-sm-7 news-item-info">
                                    <h3><a href="#">Attending the Indonesian Envato Authors National Meetup</a></h3>
                                    <span class="meta-data">6 hours ago  |  By <a href="#">Admin</a></span>
                                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesenlup.</p>
                                </div>
                            </li>
                            <li class="row news-item">
                                <div class="col-sm-5 news-item-img">
                                    <div class="date">
                                        <a href="#">
                                            <span class="day">25</span>
                                            <span class="month">August</span>
                                            <span class="year">2016</span>
                                        </a>
                                    </div>
                                    <a href="#"><img src="~/Content/images/latest-news-2.jpg" alt="image"></a>
                                </div>
                                <div class="col-sm-7 news-item-info">
                                    <h3><a href="#">How to Join The Biggest Event Total Transverse Half Marathon</a></h3>
                                    <span class="meta-data">08:00 AM  |  By <a href="#">Admin</a></span>
                                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesenlup.</p>
                                </div>
                            </li>
                            <li class="row news-item">
                                <div class="col-sm-5 news-item-img">
                                    <div class="date">
                                        <a href="#">
                                            <span class="day">25</span>
                                            <span class="month">August</span>
                                            <span class="year">2016</span>
                                        </a>
                                    </div>
                                    <a href="#"><img src="~/Content/images/latest-news-3.jpg" alt="image"></a>
                                </div>
                                <div class="col-sm-7 news-item-info">
                                    <h3><a href="#">Ramayana Ballet at Prambanan Temple Klaten, Central of Java</a></h3>
                                    <span class="meta-data">10:00 AM  |  By <a href="#">Admin</a></span>
                                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesenlup.</p>
                                </div>
                            </li>
                        </ul>
                        <div class="new-item-pagination">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4">
                <div class="latest-tweets">
                    <div class="section-header">
                        <h2>Latest Tweets</h2>
                    </div>
                    <div class="section-content">
                        <div class="twitter-header clearfix">
                            <div class="twitter-name">
                                <a href="#">
                                    <img src="~/Content/images/twitter-avatar.png" alt="image">
                                    <strong>myticket.com</strong>
                                    <span>myticket</span>
                                </a>
                            </div>
                            <div class="twitter-btn">
                                <a href="#">Follow</a>
                            </div>
                        </div>
                        <div class="tweet-list clearfix">
                            <ul class="clearfix">
                                <li class="row tweet-item">
                                    <div class="col-sm-10">
                                        <p><a href="#">myticket</a> Lorem ipsum dolor sit amet, consecter adipiscing elit, sed diam nonummy nibh euismod dolore magna aliquam <a href="#">#EratVolutpat</a>.</p>
                                    </div>
                                    <div class="col-sm-2">
                                        <span>17 min</span>
                                    </div>
                                </li>
                                <li class="row tweet-item">
                                    <div class="col-sm-10">
                                        <p><a href="#">myticket</a>Lorem ipsum dolor sit amet, consecter adipiscing elit, sed diam<a href="#">#EratVolutpat</a>.</p>
                                    </div>
                                    <div class="col-sm-2">
                                        <span>18 min</span>
                                    </div>
                                </li>
                                <li class="row tweet-item">
                                    <div class="col-sm-10">
                                        <p><a href="#">yticket</a> Lorem ipsum dolor sit amet, consecter adipiscing elit, sed diam nonummy nibh euismod dolore magna aliquam <a href="#">#EratVolutpat</a>.</p>
                                    </div>
                                    <div class="col-sm-2">
                                        <span>19 min</span>
                                    </div>
                                </li>
                                <li class="row tweet-item">
                                    <div class="col-sm-10">
                                        <p><a href="#">myticket</a>Lorem ipsum dolor sit amet, consecter adipiscing elit, sed diam<a href="#">#EratVolutpat</a>.</p>
                                    </div>
                                    <div class="col-sm-2">
                                        <span>19 min</span>
                                    </div>
                                </li>
                                <li class="row tweet-item">
                                    <div class="col-sm-10">
                                        <p><a href="#">myticket</a> Lorem ipsum dolor sit amet, consecter adipiscing elit, sed diam nonummy nibh euismod dolore magna aliquam <a href="#">#EratVolutpat</a>.</p>
                                    </div>
                                    <div class="col-sm-2">
                                        <span>20 min</span>
                                    </div>
                                </li>
                                <li class="row tweet-item">
                                    <div class="col-sm-10">
                                        <p><a href="#">myticket</a>Lorem ipsum dolor sit amet, consecter adipiscing elit, sed diam<a href="#">#EratVolutpat</a>.</p>
                                    </div>
                                    <div class="col-sm-2">
                                        <span>22 min</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section-sponsors">
    <div class="container">
        <div class="section-content">
            <ul class="row">
                <li class="col-sm-3">
                    <a href="#">
                        <img src="~/Content/images/sponsor-1.png" alt="image">
                    </a>
                </li>
                <li class="col-sm-3">
                    <a href="#">
                        <img src="~/Content/images/sponsor-2.png" alt="image">
                    </a>
                </li>
                <li class="col-sm-3">
                    <a href="#">
                        <img src="~/Content/images/sponsor-3.png" alt="image">
                    </a>
                </li>
                <li class="col-sm-3">
                    <a href="#">
                        <img src="~/Content/images/sponsor-4.png" alt="image">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>

