
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="section-refine-search">
    <div class="container">
        <div class="row">
            <form>
                <div class="keyword col-sm-6 col-md-4">
                    <label>Search Keyword</label>
                    <input type="text" class="form-control hasclear" placeholder="Search">
                    <span class="clearer"><img src="images/clear.png" alt="clear"></span>
                </div>
                <div class="location col-sm-6 col-md-3">
                    <label>Location</label>
                    <select class="selectpicker dropdown">
                        <option>Select Location</option>
                        <option>San Francisco</option>
                        <option>Foxborough </option>
                        <option>Buffalo</option>
                        <option>Auburn Hills</option>
                    </select>
                </div>
                <div class="event-date col-sm-6 col-md-3">
                    <label>Event Date</label>
                    <select class="selectpicker dropdown">
                        <option>Select Date</option>
                        <option>August 1st, 2016</option>
                        <option>August 2nd, 2016</option>
                        <option>August 3rd, 2016</option>
                        <option>August 4th, 2016</option>
                    </select>
                </div>
                <div class="col-sm-6 col-md-2">
                    <input type="submit" value="Search">
                </div>
            </form>
        </div>
    </div>
</section>

<section class="section-search-content">
    <div class="container">
        <div class="row">
            <div id="secondary" class="col-md-4 col-lg-3">
                <div class="search-filter">
                    <div class="search-event-title">
                        <h2><span>Event</span> Sports </h2>
                    </div>
                    <div class="search-filter-delivery">
                        <h3>Delivery</h3>
                        <div class="checkbox">
                            <input id="delivery1" class="styled" type="checkbox" checked="">
                            <label for="delivery1">
                                All
                            </label>
                        </div>
                        <div class="checkbox">
                            <input id="delivery2" class="styled" type="checkbox">
                            <label for="delivery2">
                                Electronic
                            </label>
                        </div>
                        <div class="checkbox">
                            <input id="delivery3" class="styled" type="checkbox">
                            <label for="delivery3">
                                Instant
                            </label>
                        </div>
                    </div>
                    <div class="search-filter-category">
                        <h3>Categories</h3>
                        <div class="checkbox">
                            <input id="category1" class="styled" type="checkbox" checked="">
                            <label for="category1">
                                All
                            </label>
                        </div>
                        <div class="checkbox">
                            <input id="category2" class="styled" type="checkbox">
                            <label for="category2">
                                Backetball
                            </label>
                        </div>
                        <div class="checkbox">
                            <input id="category3" class="styled" type="checkbox">
                            <label for="category3">
                                Football
                            </label>
                        </div>
                        <div class="checkbox">
                            <input id="category4" class="styled" type="checkbox">
                            <label for="category4">
                                Golf
                            </label>
                        </div>
                        <div class="checkbox">
                            <input id="category5" class="styled" type="checkbox">
                            <label for="category5">
                                Soccer
                            </label>
                        </div>
                        <div class="checkbox">
                            <input id="category6" class="styled" type="checkbox">
                            <label for="category6">
                                Tennis
                            </label>
                        </div>
                    </div>
                    <div class="search-filter-seat-features">
                        <h3>Seat Features</h3>
                        <div class="checkbox">
                            <input id="features1" class="styled" type="checkbox" checked="">
                            <label for="features1">
                                All
                            </label>
                        </div>
                        <div class="checkbox">
                            <input id="features2" class="styled" type="checkbox">
                            <label for="features2">
                                Aisle
                            </label>
                        </div>
                        <div class="checkbox">
                            <input id="features3" class="styled" type="checkbox">
                            <label for="features3">
                                Ex-Obstucted View
                            </label>
                        </div>
                        <div class="checkbox">
                            <input id="features4" class="styled" type="checkbox">
                            <label for="features4">
                                Parking Pass Included
                            </label>
                        </div>
                        <div class="checkbox">
                            <input id="features5" class="styled" type="checkbox">
                            <label for="features5">
                                Wheelchair Accessible
                            </label>
                        </div>
                    </div>
                    <div class="search-filter-price">
                        <h3>Price</h3>
                        <input id="price-range" type="text" class="span2" value="" data-slider-min="10" data-slider-max="200" data-slider-step="5" data-slider-value="[50,150]" />
                    </div>
                </div>
            </div>

            <div id="primary" class="col-md-8 col-lg-9">

                <div class="search-result-header">
                    <div class="row">
                        <div class="col-sm-7">
                            <h2>All Sports Events at San Francisco</h2>
                            <span>Showing 1-10 of 32 Results</span>
                        </div>
                        <div class="col-sm-5">
                            <label>Sort By</label>
                            <select class="selectpicker dropdown">
                                <option>Price: Low-High</option>
                                <option>Price: High-Low</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="search-result-item">
                    <div class="row">
                        <div class="search-result-item-info col-sm-9">
                            <h3>Tennis San Francisco Open</h3>
                            <ul class="row">
                                <li class="col-sm-5 col-lg-6">
                                    <span>Venue</span>
                                    Gillette Stadium (Foxborough, MA)
                                </li>
                                <li class="col-sm-4 col-lg-3">
                                    <span>Saturday</span>
                                    July. 30th, 2016
                                </li>
                                <li class="col-sm-3">
                                    <span>Time</span>
                                    07:00 PM
                                </li>
                            </ul>
                        </div>
                        <div class="search-result-item-price col-sm-3">
                            <span>Price From</span>
                            <strong>$101</strong>
                            <a href="#">Book Now</a>
                        </div>
                    </div>
                </div>
                <div class="search-result-item sold-out">
                    <div class="row">
                        <div class="search-result-item-info col-sm-9">
                            <h3>Golf Master SF Championship</h3>
                            <ul class="row">
                                <li class="col-sm-5 col-lg-6">
                                    <span>Venue</span>
                                    First Niagara Center (Buffalo, NY)
                                </li>
                                <li class="col-sm-4 col-lg-3">
                                    <span>Saturday</span>
                                    August. 1st, 2016
                                </li>
                                <li class="col-sm-3">
                                    <span>Time</span>
                                    07:00 PM
                                </li>
                            </ul>
                        </div>
                        <div class="search-result-item-price col-sm-3">
                            <span>Price From</span>
                            <strong>$113</strong>
                            <a href="#">Sold Out</a>
                        </div>
                    </div>
                </div>
                <div class="search-result-item sale">
                    <div class="ribbon"><span>Sale</span></div>
                    <div class="row">
                        <div class="search-result-item-info col-sm-9">
                            <h3>UEFA Champions League final (FC Barcelona v AC Milan)</h3>
                            <ul class="row">
                                <li class="col-sm-5 col-lg-6">
                                    <span>Venue</span>
                                    Palace Of Auburn Hills (Auburn Hills, MI)
                                </li>
                                <li class="col-sm-4 col-lg-3">
                                    <span>Saturday</span>
                                    August. 3rd, 2016
                                </li>
                                <li class="col-sm-3">
                                    <span>Time</span>
                                    07:00 PM
                                </li>
                            </ul>
                        </div>
                        <div class="search-result-item-price col-sm-3">
                            <span>Price From</span>
                            <strong><span>$140</span>$125</strong>
                            <a href="#" class="sold-out">Book Now</a>
                        </div>
                    </div>
                </div>
                <div class="search-result-item">
                    <div class="row">
                        <div class="search-result-item-info col-sm-9">
                            <h3>FA Cup final (Manchester City v Leicester City)</h3>
                            <ul class="row">
                                <li class="col-sm-5 col-lg-6">
                                    <span>Venue</span>
                                    First Niagara Center (Buffalo, NY)
                                </li>
                                <li class="col-sm-4 col-lg-3">
                                    <span>Saturday</span>
                                    August. 1st, 2016
                                </li>
                                <li class="col-sm-3">
                                    <span>Time</span>
                                    07:00 PM
                                </li>
                            </ul>
                        </div>
                        <div class="search-result-item-price col-sm-3">
                            <span>Price From</span>
                            <strong>$140</strong>
                            <a href="#">Book Now</a>
                        </div>
                    </div>
                </div>
                <div class="search-result-item">
                    <div class="row">
                        <div class="search-result-item-info col-sm-9">
                            <h3>NBA Finals</h3>
                            <ul class="row">
                                <li class="col-sm-5 col-lg-6">
                                    <span>Venue</span>
                                    CONSOL Energy Center (Pittsburgh, PA)
                                </li>
                                <li class="col-sm-4 col-lg-3">
                                    <span>Saturday</span>
                                    August. 5th, 2016
                                </li>
                                <li class="col-sm-3">
                                    <span>Time</span>
                                    07:00 PM
                                </li>
                            </ul>
                        </div>
                        <div class="search-result-item-price col-sm-3">
                            <span>Price From</span>
                            <strong>$155</strong>
                            <a href="#">Book Now</a>
                        </div>
                    </div>
                </div>
                <div class="search-result-item sold-out">
                    <div class="row">
                        <div class="search-result-item-info col-sm-9">
                            <h3>Women's Baseball World Cup	</h3>
                            <ul class="row">
                                <li class="col-sm-5 col-lg-6">
                                    <span>Venue</span>
                                    Lincoln Financial Field (Philadelphia, PA)
                                </li>
                                <li class="col-sm-4 col-lg-3">
                                    <span>Saturday</span>
                                    August. 6th, 2016
                                </li>
                                <li class="col-sm-3">
                                    <span>Time</span>
                                    07:00 PM
                                </li>
                            </ul>
                        </div>
                        <div class="search-result-item-price col-sm-3">
                            <span>Price From</span>
                            <strong>$160</strong>
                            <a href="#">Sold Out</a>
                        </div>
                    </div>
                </div>
                <div class="search-result-item">
                    <div class="row">
                        <div class="search-result-item-info col-sm-9">
                            <h3>UCI Road World Championships</h3>
                            <ul class="row">
                                <li class="col-sm-5 col-lg-6">
                                    <span>Venue</span>
                                    Rose Bowl (Pasadena, CA)
                                </li>
                                <li class="col-sm-4 col-lg-3">
                                    <span>Saturday</span>
                                    August. 20th, 2016
                                </li>
                                <li class="col-sm-3">
                                    <span>Time</span>
                                    07:00 PM
                                </li>
                            </ul>
                        </div>
                        <div class="search-result-item-price col-sm-3">
                            <span>Price From</span>
                            <strong>$175</strong>
                            <a href="#">Book Now</a>
                        </div>
                    </div>
                </div>

                <div class="search-result-footer">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Previous</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li class="active"><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">Next <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

