
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
        <section class="hero-1">
            <div class="container">
                <div class="row">
                    <div class="hero-content">
                        <h1 class="hero-title">The safest way to buy and sell e-tickets</h1>
                        <div class="hero-search">
                            <input type="text" placeholder="Seach Event">
                        </div>
                        <div class="hero-location">
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> San Francisco <a href="#">Change Location</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    
        <section class="section-upcoming-events">
            <div class="container">
                <div class="row">
                    <div class="section-header">
                        <h2>Featured Tickets</h2>
                   
                    </div>
                    <div class="section-content">
                        <ul class="clearfix">
                            <li>
                                <div class="date">
                                    <a href="#">
                                        <span class="day">25</span>
                                        <span class="month">August</span>
                                        <span class="year">2016</span>
                                    </a>
                                </div>
                                <a href="#">
                                    <img src="~/Content/images/upcoming-event-1.jpg" alt="image">
                                </a>
                                <div class="info">
                                    <p>BMW Open Championship <span>San Francisco</span></p>
                                    <a href="#" class="get-ticket">Get Ticket</a>
                                </div>
                            </li>
                            <li>
                                <div class="date">
                                    <a href="#">
                                        <span class="day">26</span>
                                        <span class="month">August</span>
                                        <span class="year">2016</span>
                                    </a>
                                </div>
                                <a href="#">
                                    <img src="~/Content/images/upcoming-event-2.jpg" alt="image">
                                </a>
                                <div class="info">
                                    <p>Kiai Kanjeng Orchestra <span>San Francisco</span></p>
                                    <a href="#" class="get-ticket">Get Ticket</a>
                                </div>
                            </li>
                            <li>
                                <div class="date">
                                    <a href="#">
                                        <span class="day">27</span>
                                        <span class="month">August</span>
                                        <span class="year">2016</span>
                                    </a>
                                </div>
                                <a href="#">
                                    <img src="~/Content/images/upcoming-event-3.jpg" alt="image">
                                </a>
                                <div class="info">
                                    <p>Envato Author SF Meetup <span>San Francisco</span></p>
                                    <a href="#" class="get-ticket">Get Ticket</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-event-category">
            <div class="container">
                <div class="row">
                    <div class="section-header">
                        <h2>Event by Categories</h2>
                    </div>
                    <div class="section-content">
                        <ul class="row clearfix">
                            <li class="category-1 col-sm-4">
                                <img src="~/Content/images/back-img/11.jpg" alt="image">
                                <a href="#"><span>Concerts</span></a>
                            </li>
                            <li class="category-2 col-sm-4">
                                <img src="~/Content/images/back-img/12.jpg" alt="image">
                                <a href="#"><span>Sports</span></a>
                            </li>
                            <li class="category-3 col-sm-4">
                                <img src="~/Content/images/back-img/13.jpg" alt="image">
                                <a href="#"><span>Threaters</span></a>
                            </li>
                            <li class="category-4 col-sm-4">
                                <img src="~/Content/images/back-img/14.jpg" alt="image">
                                <a href="#"><span>Parties</span></a>
                            </li>
                            <li class="category-5 col-sm-4">
                                <img src="~/Content/images/back-img/15.jpg" alt="image">
                                <a href="#"><span>Communities</span></a>
                            </li>
                            <li class="category-6 col-sm-4">
                                <img src="~/Content/images/back-img/16.jpg" alt="image">
                                <a href="#"><span>Classes</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-stats">
            <div class="container">
                <div class="row">
                    <div class="section-content">
                        <ul class="row clearfix">
                            <li class="col-sm-4">
                                <span class="count">598</span>
                                <hr>
                                <p>Events Active</p>
                            </li>
                            <li class="col-sm-4">
                                <span class="count">16,173</span>
                                <hr>
                                <p>Active User</p>
                            </li>
                            <li class="col-sm-4">
                                <span class="count">136,874</span>
                                <hr>
                                <p>Ticket Sold</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>


        <section class="section-newsletter">
            <div class="container">
                <div class="section-content">
                    <h2>Stay Up to date With Your Favorite Events!</h2>
                     <div class="newsletter-form clearfix">
                        <input type="email" placeholder="Your Email Address">
                        <input type="submit" value="Subscribe">
                    </div>
                </div>
            </div>
        </section>

